/*
 * Copyright (c) 2018-2020 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	model = "Native Camera";
	compatible = "BoSL,nativecamera";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 20 0>;
			label = "D1";
		};
	};

	pwmleds {
		compatible = "pwm-leds";
		pwm_led0: pwm_led_0 {
			pwms = <&pwm0 20>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 21 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button 1";
		};
	};
	
		

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0;
		pwm-led0 = &pwm_led0;
		sw0 = &button0;
		bootloader-led0 = &led0;
	};
};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};


&uart0 {
	status = "okay";
	current-speed = <115200>;
	tx-pin = <0xFFFFFFFF>;
	rx-pin = <0xFFFFFFFF>;
	rx-pull-up;
	rts-pin = <0xFFFFFFFF>;
	cts-pin = <0xFFFFFFFF>;
	cts-pull-up;
};

// arduino_serial: &uart1 {
arduino_serial: &uart0 {
	status = "okay";
	current-speed = <9600>;
	tx-pin = <31>;
	rx-pin = <30>;
};

/*
&uart2 {
	tx-pin = <24>;
	rx-pin = <23>;
};
*/

arduino_i2c: &i2c2 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	sda-pin = <10>;
	scl-pin = <9>;
};

&pwm0 {
	status = "okay";
	ch0-pin = <20>;
};

&spi1 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	sck-pin = <26>;
	mosi-pin = <27>;
	miso-pin = <29>;
	cs-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;

	spidev: spi-device@0 {
		reg = <0>;
		status = "okay";
		spi-max-frequency = <8000000>;
	};
};

&spi3 {
        compatible = "nordic,nrf-spim";
        status = "okay";
        sck-pin = <22>;
        mosi-pin = <24>;
        miso-pin = <23>;

        cs-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;

        sdhc0: sdhc@0 {
                compatible = "zephyr,mmc-spi-slot";
                reg = <0>;
                status = "okay";
                label = "SDHC0";
                spi-max-frequency = <8000000>;
        };
};

&timer0 {
	status = "okay";
};

&timer1 {
	status = "okay";
};

&timer2 {
	status = "okay";
};

&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x10000>;
		};
		slot0_partition: partition@10000 {
			label = "image-0";
		};
		slot0_ns_partition: partition@50000 {
			label = "image-0-nonsecure";
		};
		slot1_partition: partition@80000 {
			label = "image-1";
		};
		slot1_ns_partition: partition@c0000 {
			label = "image-1-nonsecure";
		};
		scratch_partition: partition@f0000 {
			label = "image-scratch";
			reg = <0x000f0000 0xa000>;
		};
		storage_partition: partition@fa000 {
			label = "storage";
			reg = <0x000fa000 0x00006000>;
		};
	};
};

/ {

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		sram0_s: image_s@20000000 {
			/* Secure image memory */
		};

		sram0_modem: image_modem@20016000 {
			/* Modem (shared) memory */
		};

		sram0_ns: image_ns@20020000 {
			/* Non-Secure image memory */
		};
	};
};

/* Include partition configuration file */
#include "native_camera_partition_conf.dts"
